.git
.github
node_modules
vendor
storage/*.key
.env
.env.*
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
docker-compose.yml
Dockerfile
.dockerignore
