@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pastikan warna indigo lo muncul */
#nprogress .bar {
    background: #4f46e5 !important; /* Warna Indigo OneForMind */
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Tebalin biar kelihatan */
}

#nprogress .spinner {
    display: none; /* Sembunyikan spinner sesuai keinginan lo */
}
